body {
  margin: 0;
  text-align: center;
  font-family: pf-videotext, sans-serif;
  font-style: normal;
  background-color: #5f2613;
  overflow-x: hidden;
}


h1{
  color: #f2f3ea;
  text-align: center;
  margin: 7%;
  font-size: 72px;
  text-align: center;
  font-family: pf-videotext, sans-serif;
  font-style: normal;

}
hr{
  border: none;
  height: 2px;
  background-color: #f2f3ea;
  margin: 0 auto 20px auto; /* Margin above and below the line, auto for centering */
  width: 50%;
  text-align: center;
}
.tabs {
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #5f2613;
  margin-bottom: 3%;
}
  
.tabs a {
  display: block;
  margin: 14px;
  padding: 10px 20px;
  background-color:rgb(182, 232, 226);
  color: #5f2613;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}
  
.tabs a:hover {
  background-color: #020219;
  color: #f2f3ea;
}
/*   
.tabs a.active {
  background-color: #04AA6D;
  color: white;
}
*/
/*--------CONTENT-----------*/
.container{
  display:flex; /*centerinig the boxes */
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  /* max-width: 1200px; */
}



.box{
  /* display: inline-block; */
  float: left;
  width:300px; /*good size for having 3 boxes in a row */
  max-width: 100%;
  height: 400px;
  /* border: 2px solid #f2f3ea; */
  padding: 0%;
  margin: 2%;
  text-align: center;
  /* border-radius: 5px; */
  flex-direction: column;
  position: relative;
  overflow:hidden;



} /*code from: https://psdtohtml.net/knowledge/html/how-to-create-box-html.html*/

.image-container{
  position: relative;
  overflow: hidden;
}
.box h1{
  background-color: #f2f3ea;
  color: #5f2613;
  font-size: 30px;
  padding: 25px ;
  margin: 0%;
  z-index: 1;

}

.box img{
  width: 100%;
  height:auto;
  /* border-radius: 5px; /*add curve around the edges of the image*/
  object-fit: cover;
  /* transition: filter 0.3s, transform 0.5s; */

}

/* .box:hover img{
  filter:blur(5px);
  transform: scale(1.05);
} */
/* .box p{
  color: #020219;
  text-align: left;
  margin-bottom: 2%;
  padding-right: 2%;
} */

.description {
  display: none;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  background-color: #f2f3ea;
  color: rgb(0, 0, 0);
  padding: 2px 2px 5px 10px;
  /* border: 40px solid #f2f3ea; */
  /* border-radius: 5px; */
  text-align: left;
  animation: fadeIn 0.5s;
}

.description::after{
  animation: fadeOut 0.5s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
/* .box:hover .description {
  display: block;
} */

.arrow {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #000000;
  background-color: #f2f3ea;
  transition: fadeIn 2s;
  font-size: 25px;
  transition: background-color 0.2s, opacity 0.2s;
}

.arrow:hover{
  color:#5f2613;
  /* padding: 2%; */
  opacity: 0.5;

}

/* #myDIV1, #myDIV2, #myDIV3, #myDIV4, #myDIV5, #myDIV6, #myDIV, #myDIV8, #myDIV9, #myDIV10{
  display:none;
} */


.footer{
  text-align: left;
  color: #5f2613;
  background-color: #f2f3ea;
  padding-top: 25px;
  padding-bottom: 25px;
  }
  
  .footer p{
    display:block;
    text-align: center;
  }